@import "../../assets/theme";

button {
  background: $light-purple;
  color: $accent;
  border: none;
  padding: .5rem;
  font: inherit;
  outline: inherit;
  margin: 0 .5rem;

  transition: all .2s ease-in-out;
}

button:hover {
  background: $dark-purple;
  color: $accent;

  transition: all .2s ease-in-out;
}
